* {
    border: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav#main-menu {
    background-color: #a04f65;
    padding: 2em;
}

ul#main-menu-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
}

ul#main-menu-links li {
    border-right: 2px #fff solid;
    margin: 1em 0 1em 0;
    padding: 0 1em 0 1em;
}

ul#main-menu-links li a {
    color: #fff;
    text-decoration: none;
}

ul#main-menu-links li:last-child {
    border-right: none;
}

header img {
    height: auto;
    min-height: 400px;
    object-fit: cover;
    width: 100%;
}

div#first-section {
    background-color: #f2f0e5;
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
}

#first-section .flex-item {
    max-width: 50%;
}

section#our-founder h2{
    color: #a04f65;
    font-size: 2em;
    margin-bottom: 1em;
    text-transform: uppercase;
}

section#our-founder p{
    color: #40403f;
    margin-bottom: 1em;
}

section#highlighted-images {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

div.highlighted-item {
    border: 1px #a04f65 solid;
    height: max-content;
    margin: 0.5em;
    width: 45%;
}

.highlighted-item img {
    display: block;
    max-height: 90px;
    object-fit: cover;
    width: 100%;
}

.highlighted-item h3{
    background-color: #a04f65;
    color: #fff;
    font-weight: normal;
    padding: 0.5em;
    text-align: center;
    text-transform: uppercase;
    word-wrap: break-word;
}

footer {
    background-color: #a04f65;
    height: 80px;
}

@media only screen and (max-width:768px) and (min-width:481px) {
    div#first-section {
        flex-direction: column;
    }
    #first-section .flex-item {
        max-width: 100%;
    }
}

@media only screen and (max-width:480px) {
    div#first-section {
        flex-direction: column;
    }
    #first-section .flex-item {
        max-width: 100%;
    }
    div.highlighted-item {
        margin: 0.5em;
        width: 100%;
    }
}